body {
	font-family: Arial, sans-serif;
	margin: 20px;
	padding: 0;
	line-height: 1.6;
}

h1,
h2 {
	color: #333;
}

pre {
	background-color: #f4f4f4;
	padding: 10px;
	overflow: auto;
	border-radius: 5px;
}

.endpoint {
	margin-bottom: 20px;
}
